<%= will_paginate @posts, :page_links => false %>

<% @posts.each do |post| %>

  <div class="card border-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title text-info">Title:<%= post.title %></h5>
      <p class="card-text"><%= truncate(post.body, :length => 50) %></p>
      <%= link_to "Read Posts", post,class: "btn btn-outline-danger" %>
    </div>
  </div>

<% end %>
